#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    padding: 10px;
}

/* Common styling for all boxes */
#grid > div {
    background-color: green;
    color: white;
    font-size: 24px;
    padding: 10px;
}

/* Positioning items */

/* 1 */
#grid > div:nth-child(1) {
    grid-row: 1 / 4;
}

/* 2 */
#grid > div:nth-child(2) {
    grid-column: 2 / 5;
}

/* 3 */
#grid > div:nth-child(3) {
    grid-column: 2 / 3;
}

/* 4 */
#grid > div:nth-child(4) {
    grid-column: 3 / 4;
}

/* 5 */
#grid > div:nth-child(5) {
    grid-column: 2 / 4;
}

/* 6 */
#grid > div:nth-child(6) {
    grid-column: 3 / 4;
}

/* 7 */
#grid > div:nth-child(7) {
    grid-column: 2 / 3;
}

/* 8 */
#grid > div:nth-child(8) {
    grid-column: 3 / 4;
}

/* 9 */
#grid > div:nth-child(9) {
    grid-column: 3 / 4;
}

/* 10 */
#grid > div:nth-child(10) {
    grid-column: 2 / 4;
}
